keyvault-integration/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "Vault Name": {
      "type": "string",
      "metadata": {
        "description": "Name of the key vault resource"
      },
      "defaultValue": "my-vault"
    }
  },
  "variables": {
    "Get Secret App Name": "get-secret-app",
    "Demo App Name": "demo-app"
  },
  "resources": [
    {
      "name": "[variables('Demo App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "GET"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
            }
          }
        }
      }
    },
    {
      "name": "[variables('Get Secret App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "response-secret": {
              "inputs": {
                "body": {
                  "value": "@body('parse-secret')?['value']"
                },
                "statusCode": 200
              },
              "kind": "http",
              "runAfter": {
                "parse-secret": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            },
            "parse-secret": {
              "inputs": {
                "content": "@body('get-secret')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-secret": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "get-current-version": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://my-vpl-vault.vault.azure.net/secrets/my-secret?api-version=7.0"
              },
              "runAfter": {},
              "type": "Http"
            },
            "get-secret": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "@{body('parse-version')['id']}?api-version=7.0"
              },
              "runAfter": {
                "parse-version": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "parse-version": {
              "inputs": {
                "content": "@body('get-current-version')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-current-version": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "GET"
              }
            }
          }
        },
        "parameters": {}
      }
    },
    {
      "name": "[parameters('Vault Name')]",
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2018-02-14",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
      ],
      "tags": {},
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "accessPolicies": [
          {
            "tenantId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.principalId]",
            "permissions": {
              "secrets": [
                "get",
                "list"
              ]
            }
          }
        ],
        "sku": {
          "family": "A",
          "name": "standard"
        }
      },
      "resources": [
        {
          "name": "my-secret",
          "type": "secrets",
          "apiVersion": "2018-02-14",
          "tags": {},
          "dependsOn": [
            "[resourceId('Microsoft.KeyVault/vaults', parameters('Vault Name'))]"
          ],
          "properties": {
            "value": "hello-world",
            "contentType": "",
            "attributes": {
              "enabled": "true"
            }
          }
        }
      ]
    }
  ],
  "outputs": {
    "Managed Identity": {
      "type": "object",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity]"
    }
  }
}
